@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
h1{
    text-align: center;
    margin: 12px 0px;
}
.container{
    min-height: 71vh;
    margin:43px 0px;
    
}
.container h1{
    font-family: "Dancing Script", cursive;
    font-size: 42px;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.myInput{
    width: 40%;
    padding:9px ;
    margin:8px ;
    border: 2px solid red;
    border-radius: 4px;
    outline: none;

}
.btn{
    padding: 6px;
    margin: 10px;
    width: 99px;
    border: 2px solid black;
    background-color: red;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}